<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>Candidate Clicker</h1>
    <p class="lead">Instructions: Click ...</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header> -->

<div class="container candidates-box">
  <!--<div class="row">
    <div class="col-md-12">-->
      <div ng-repeat="c in candidates">
        <div class="col-md-3">
          <div class="candidate" ng-class="getCandidateClass(c)">
            <click-candidate candidate="c" ng-click="clickCandidate(c)">
            </click-candidate>
          </div>
        </div>
      </div>
    <!--</div>
  </div>-->

  <div class="container dashboard-box">
      <div class="col-md-8">
        <div class="dashboard dataviz">
          <svg class="chart"></svg>
        </div>
      </div><!--
   --><div class="col-md-4"><div class="dashboard social"></div></div>
  </div>

</div>

<!--<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Candidates:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="candidate in candidates">
        <li><a href="#" tooltip="{{candidate.name}}">{{candidate.name}}<button type="button" class="close" ng-click="deleteCandidate(candidate)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="Candidate-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new Candidate here." ng-model="newCandidate">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addCandidate()">Add New</button>
      </span>
    </p>
  </form>
</div>-->


<footer class="footer">
  <div class="container">
      <p>Hack the Debate | Candidate Clicker </p>
  </div>
</footer>
